In [3]:
import pandas as pd
import fcalc
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score

ModuleNotFoundError: No module named 'fcalc'

In [4]:
heart_stroke = pd.read_csv('healthcare-dataset-stroke-data.csv')
breast_cancer = pd.read_csv('Breast_cancer_data.csv')
heart_failure = pd.read_csv('heart_failure_clinical_records_dataset.csv')

In [5]:
heart_stroke

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

1) Удалим столбец id из датасета

In [6]:
heart_stroke.drop('id', axis=1, inplace=True)

In [7]:
heart_stroke

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

2) Удалим все строчки из таблицы для которых хотя бы в одном столбце (кроме id) встречается NaN

In [8]:
heart_stroke.dropna(inplace=True)

Удалим все строки smoking status unknown

In [9]:
heart_stroke = heart_stroke[heart_stroke['smoking_status'] != 'Unknown']

In [10]:
heart_stroke

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5100,Male,82.0,1,0,Yes,Self-employed,Rural,71.97,28.3,never smoked,0
5102,Female,57.0,0,0,Yes,Private,Rural,77.93,21.7,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0

Выберем случайно 500 строчек из датасета и далее будем работать только с ними

In [11]:
heart_stroke = heart_stroke.sample(n=500, random_state=1)

In [12]:
heart_stroke_ishodnik = heart_stroke.copy()

3) Бинаризуем категориальный признак gender

In [13]:
def binarize_gender(gender):
    if gender == 'Male':
        return 1
    elif gender == 'Female':
        return 0
    else:
        return None  


heart_stroke['gender'] = heart_stroke['gender'].apply(binarize_gender)

In [14]:
if heart_stroke['gender'].isnull().any():
    heart_stroke.dropna(subset=['gender'], inplace=True)
    
heart_stroke['gender'] = heart_stroke['gender'].astype(int)

In [15]:
heart_stroke

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
3617,1,48.0,0,0,Yes,Private,Rural,113.84,21.9,never smoked,0
2156,0,55.0,0,0,Yes,Self-employed,Urban,59.20,43.8,never smoked,0
4665,0,68.0,0,0,Yes,Self-employed,Urban,222.58,37.4,smokes,0
4459,0,49.0,1,0,Yes,Govt_job,Rural,98.90,35.5,never smoked,0
635,1,57.0,0,0,Yes,Private,Rural,98.54,30.2,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...
4354,0,34.0,0,0,No,Private,Rural,94.37,38.1,never smoked,0
4811,0,61.0,0,0,Yes,Self-employed,Rural,69.77,29.9,never smoked,0
524,0,38.0,0,0,Yes,Govt_job,Urban,70.92,41.6,never smoked,0
4464,0,40.0,0,0,No,Govt_job,Rural,70.56,32.3,never smoked,0
3452,0,54.0,0,0,Yes,Self-employed,Urban,56.75,26.9,never smoked,0

4) Категоризуем категориальный признак ever_married

In [16]:

def binarize_ever_married(value):
    if value == 'Yes':
        return 1
    elif value == 'No':
        return 0
    else:
        return None  


heart_stroke['ever_married'] = heart_stroke['ever_married'].apply(binarize_ever_married)


if heart_stroke['ever_married'].isnull().any():
    heart_stroke.dropna(subset=['ever_married'], inplace=True)

In [17]:
heart_stroke

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
3617,1,48.0,0,0,1,Private,Rural,113.84,21.9,never smoked,0
2156,0,55.0,0,0,1,Self-employed,Urban,59.20,43.8,never smoked,0
4665,0,68.0,0,0,1,Self-employed,Urban,222.58,37.4,smokes,0
4459,0,49.0,1,0,1,Govt_job,Rural,98.90,35.5,never smoked,0
635,1,57.0,0,0,1,Private,Rural,98.54,30.2,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...
4354,0,34.0,0,0,0,Private,Rural,94.37,38.1,never smoked,0
4811,0,61.0,0,0,1,Self-employed,Rural,69.77,29.9,never smoked,0
524,0,38.0,0,0,1,Govt_job,Urban,70.92,41.6,never smoked,0
4464,0,40.0,0,0,0,Govt_job,Rural,70.56,32.3,never smoked,0
3452,0,54.0,0,0,1,Self-employed,Urban,56.75,26.9,never smoked,0

5) Узнаем какие уникальные категориальные значения находятся в столбце work_type

In [18]:
unique_work_types = heart_stroke['work_type'].unique()

print("Уникальные значения в столбце 'work_type':", unique_work_types)

Уникальные значения в столбце 'work_type': ['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']

6) Проведем бинаризацию котегориального признака work_type

In [19]:

work_type_dummies = pd.get_dummies(heart_stroke['work_type'], prefix='work_type')


heart_stroke = pd.concat([heart_stroke, work_type_dummies], axis=1)


heart_stroke.drop('work_type', axis=1, inplace=True)

In [20]:
heart_stroke

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
3617,1,48.0,0,0,1,Rural,113.84,21.9,never smoked,0,False,False,True,False,False
2156,0,55.0,0,0,1,Urban,59.20,43.8,never smoked,0,False,False,False,True,False
4665,0,68.0,0,0,1,Urban,222.58,37.4,smokes,0,False,False,False,True,False
4459,0,49.0,1,0,1,Rural,98.90,35.5,never smoked,0,True,False,False,False,False
635,1,57.0,0,0,1,Rural,98.54,30.2,never smoked,0,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,34.0,0,0,0,Rural,94.37,38.1,never smoked,0,False,False,True,False,False
4811,0,61.0,0,0,1,Rural,69.77,29.9,never smoked,0,False,False,False,True,False
524,0,38.0,0,0,1,Urban,70.92,41.6,never smoked,0,True,False,False,False,False
4464,0,40.0,0,0,0,Rural,70.56,32.3,never smoked,0,True,False,False,False,False
3452,0,54.0,0,0,1,Urban,56.75,26.9,never smoked,0,False,False,False,True,False

In [21]:
heart_stroke['work_type_Govt_job'] = heart_stroke['work_type_Govt_job'].astype(int)
heart_stroke['work_type_Never_worked'] = heart_stroke['work_type_Never_worked'].astype(int)
heart_stroke['work_type_Private'] = heart_stroke['work_type_Private'].astype(int)
heart_stroke['work_type_Self-employed'] = heart_stroke['work_type_Self-employed'].astype(int)
heart_stroke['work_type_children'] = heart_stroke['work_type_children'].astype(int)

In [22]:
heart_stroke

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
3617,1,48.0,0,0,1,Rural,113.84,21.9,never smoked,0,0,0,1,0,0
2156,0,55.0,0,0,1,Urban,59.20,43.8,never smoked,0,0,0,0,1,0
4665,0,68.0,0,0,1,Urban,222.58,37.4,smokes,0,0,0,0,1,0
4459,0,49.0,1,0,1,Rural,98.90,35.5,never smoked,0,1,0,0,0,0
635,1,57.0,0,0,1,Rural,98.54,30.2,never smoked,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,34.0,0,0,0,Rural,94.37,38.1,never smoked,0,0,0,1,0,0
4811,0,61.0,0,0,1,Rural,69.77,29.9,never smoked,0,0,0,0,1,0
524,0,38.0,0,0,1,Urban,70.92,41.6,never smoked,0,1,0,0,0,0
4464,0,40.0,0,0,0,Rural,70.56,32.3,never smoked,0,1,0,0,0,0
3452,0,54.0,0,0,1,Urban,56.75,26.9,never smoked,0,0,0,0,1,0

7) Проведем бинаризацию категориального признака Residence_type

In [23]:
def binarize_residence(Residence_type):
    if Residence_type == 'Urban':
        return 1
    elif Residence_type == 'Rural':
        return 0
    else:
        return None  


heart_stroke['Residence_type'] = heart_stroke['Residence_type'].apply(binarize_residence)

In [24]:
heart_stroke

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
3617,1,48.0,0,0,1,0,113.84,21.9,never smoked,0,0,0,1,0,0
2156,0,55.0,0,0,1,1,59.20,43.8,never smoked,0,0,0,0,1,0
4665,0,68.0,0,0,1,1,222.58,37.4,smokes,0,0,0,0,1,0
4459,0,49.0,1,0,1,0,98.90,35.5,never smoked,0,1,0,0,0,0
635,1,57.0,0,0,1,0,98.54,30.2,never smoked,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,34.0,0,0,0,0,94.37,38.1,never smoked,0,0,0,1,0,0
4811,0,61.0,0,0,1,0,69.77,29.9,never smoked,0,0,0,0,1,0
524,0,38.0,0,0,1,1,70.92,41.6,never smoked,0,1,0,0,0,0
4464,0,40.0,0,0,0,0,70.56,32.3,never smoked,0,1,0,0,0,0
3452,0,54.0,0,0,1,1,56.75,26.9,never smoked,0,0,0,0,1,0

8) Проведем бинаризацию категориального признака Smoking_type

In [25]:
unique_work_types = heart_stroke['smoking_status'].unique()

print("Уникальные значения в столбце 'work_type':", unique_work_types)

Уникальные значения в столбце 'work_type': ['never smoked' 'smokes' 'formerly smoked']

In [26]:
heart_stroke

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children
3617,1,48.0,0,0,1,0,113.84,21.9,never smoked,0,0,0,1,0,0
2156,0,55.0,0,0,1,1,59.20,43.8,never smoked,0,0,0,0,1,0
4665,0,68.0,0,0,1,1,222.58,37.4,smokes,0,0,0,0,1,0
4459,0,49.0,1,0,1,0,98.90,35.5,never smoked,0,1,0,0,0,0
635,1,57.0,0,0,1,0,98.54,30.2,never smoked,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,34.0,0,0,0,0,94.37,38.1,never smoked,0,0,0,1,0,0
4811,0,61.0,0,0,1,0,69.77,29.9,never smoked,0,0,0,0,1,0
524,0,38.0,0,0,1,1,70.92,41.6,never smoked,0,1,0,0,0,0
4464,0,40.0,0,0,0,0,70.56,32.3,never smoked,0,1,0,0,0,0
3452,0,54.0,0,0,1,1,56.75,26.9,never smoked,0,0,0,0,1,0

Проведем бинаризацию с помощью OHE

In [27]:
smoking_status_dummies = pd.get_dummies(heart_stroke['smoking_status'], prefix='smoking_status')


heart_stroke = pd.concat([heart_stroke, smoking_status_dummies], axis=1)


heart_stroke.drop('smoking_status', axis=1, inplace=True)

In [28]:
heart_stroke

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
3617,1,48.0,0,0,1,0,113.84,21.9,0,0,0,1,0,0,False,True,False
2156,0,55.0,0,0,1,1,59.20,43.8,0,0,0,0,1,0,False,True,False
4665,0,68.0,0,0,1,1,222.58,37.4,0,0,0,0,1,0,False,False,True
4459,0,49.0,1,0,1,0,98.90,35.5,0,1,0,0,0,0,False,True,False
635,1,57.0,0,0,1,0,98.54,30.2,0,0,0,1,0,0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,34.0,0,0,0,0,94.37,38.1,0,0,0,1,0,0,False,True,False
4811,0,61.0,0,0,1,0,69.77,29.9,0,0,0,0,1,0,False,True,False
524,0,38.0,0,0,1,1,70.92,41.6,0,1,0,0,0,0,False,True,False
4464,0,40.0,0,0,0,0,70.56,32.3,0,1,0,0,0,0,False,True,False
3452,0,54.0,0,0,1,1,56.75,26.9,0,0,0,0,1,0,False,True,False

In [29]:
heart_stroke['smoking_status_formerly smoked'] = heart_stroke['smoking_status_formerly smoked'].astype(int)
heart_stroke['smoking_status_never smoked'] = heart_stroke['smoking_status_never smoked'].astype(int)
heart_stroke['smoking_status_smokes'] = heart_stroke['smoking_status_smokes'].astype(int)

In [31]:
heart_stroke

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
3617,1,48.0,0,0,1,0,113.84,21.9,0,0,0,1,0,0,0,1,0
2156,0,55.0,0,0,1,1,59.20,43.8,0,0,0,0,1,0,0,1,0
4665,0,68.0,0,0,1,1,222.58,37.4,0,0,0,0,1,0,0,0,1
4459,0,49.0,1,0,1,0,98.90,35.5,0,1,0,0,0,0,0,1,0
635,1,57.0,0,0,1,0,98.54,30.2,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,34.0,0,0,0,0,94.37,38.1,0,0,0,1,0,0,0,1,0
4811,0,61.0,0,0,1,0,69.77,29.9,0,0,0,0,1,0,0,1,0
524,0,38.0,0,0,1,1,70.92,41.6,0,1,0,0,0,0,0,1,0
4464,0,40.0,0,0,0,0,70.56,32.3,0,1,0,0,0,0,0,1,0
3452,0,54.0,0,0,1,1,56.75,26.9,0,0,0,0,1,0,0,1,0

In [32]:
heart_stroke_onlyfigures = heart_stroke.copy()

In [33]:
heart_stroke_onlyfigures.to_csv('/Users/deal/Desktop/heart_stroke_onlyfigures.csv', index=False)

9) Проведем бинаризацию признака age

In [327]:

bins = [0, 20, 40, 60, 80, 100, 120]  
age_categories = pd.cut(heart_stroke['age'], bins, labels=['0-19', '20-39', '40-59', '60-79', '80-99', '100+'], right=False)


age_dummies = pd.get_dummies(age_categories, prefix='age_group')


heart_stroke = pd.concat([heart_stroke, age_dummies], axis=1)

In [328]:
heart_stroke.drop('age', axis=1, inplace=True)

In [329]:
heart_stroke

,gender,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,...,work_type_children,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,age_group_0-19,age_group_20-39,age_group_40-59,age_group_60-79,age_group_80-99,age_group_100+
3617,1,0,0,1,0,113.84,21.9,0,0,0,...,0,0,1,0,False,False,True,False,False,False
2156,0,0,0,1,1,59.20,43.8,0,0,0,...,0,0,1,0,False,False,True,False,False,False
4665,0,0,0,1,1,222.58,37.4,0,0,0,...,0,0,0,1,False,False,False,True,False,False
4459,0,1,0,1,0,98.90,35.5,0,1,0,...,0,0,1,0,False,False,True,False,False,False
635,1,0,0,1,0,98.54,30.2,0,0,0,...,0,0,1,0,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,0,0,0,0,94.37,38.1,0,0,0,...,0,0,1,0,False,True,False,False,False,False
4811,0,0,0,1,0,69.77,29.9,0,0,0,...,0,0,1,0,False,False,False,True,False,False
524,0,0,0,1,1,70.92,41.6,0,1,0,...,0,0,1,0,False,True,False,False,False,False
4464,0,0,0,0,0,70.56,32.3,0,1,0,...,0,0,1,0,False,False,True,False,False,False
3452,0,0,0,1,1,56.75,26.9,0,0,0,...,0,0,1,0,False,False,True,False,False,False

In [330]:
heart_stroke['age_group_40-59'] = heart_stroke['age_group_40-59'].astype(int)
heart_stroke['age_group_60-79'] = heart_stroke['age_group_60-79'].astype(int)
heart_stroke['age_group_80-99'] = heart_stroke['age_group_80-99'].astype(int)
heart_stroke['age_group_0-19'] = heart_stroke['age_group_0-19'].astype(int)
heart_stroke['age_group_20-39'] = heart_stroke['age_group_20-39'].astype(int)
heart_stroke['age_group_100+'] = heart_stroke['age_group_100+'].astype(int)

In [331]:
heart_stroke

,gender,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,...,work_type_children,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,age_group_0-19,age_group_20-39,age_group_40-59,age_group_60-79,age_group_80-99,age_group_100+
3617,1,0,0,1,0,113.84,21.9,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2156,0,0,0,1,1,59.20,43.8,0,0,0,...,0,0,1,0,0,0,1,0,0,0
4665,0,0,0,1,1,222.58,37.4,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4459,0,1,0,1,0,98.90,35.5,0,1,0,...,0,0,1,0,0,0,1,0,0,0
635,1,0,0,1,0,98.54,30.2,0,0,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,0,0,0,0,94.37,38.1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4811,0,0,0,1,0,69.77,29.9,0,0,0,...,0,0,1,0,0,0,0,1,0,0
524,0,0,0,1,1,70.92,41.6,0,1,0,...,0,0,1,0,0,1,0,0,0,0
4464,0,0,0,0,0,70.56,32.3,0,1,0,...,0,0,1,0,0,0,1,0,0,0
3452,0,0,0,1,1,56.75,26.9,0,0,0,...,0,0,1,0,0,0,1,0,0,0

9) Провдем бинаризацию признака bmi

In [332]:

bins = [0, 18.5, 25.0, 30.0, 35.0, 40.0, float('inf')]
labels = ['bmi_underweight', 'bmi_normal', 'bmi_overweight', 'bmi_obesity_I', 'bmi_obesity_II', 'bmi_obesity_III']


bmi_categories = pd.cut(heart_stroke['bmi'], bins=bins, labels=labels, right=False)


bmi_dummies = pd.get_dummies(bmi_categories)


heart_stroke = pd.concat([heart_stroke, bmi_dummies], axis=1)


heart_stroke.drop('bmi', axis=1, inplace=True)

In [333]:
heart_stroke

,gender,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,...,age_group_40-59,age_group_60-79,age_group_80-99,age_group_100+,bmi_underweight,bmi_normal,bmi_overweight,bmi_obesity_I,bmi_obesity_II,bmi_obesity_III
3617,1,0,0,1,0,113.84,0,0,0,1,...,1,0,0,0,False,True,False,False,False,False
2156,0,0,0,1,1,59.20,0,0,0,0,...,1,0,0,0,False,False,False,False,False,True
4665,0,0,0,1,1,222.58,0,0,0,0,...,0,1,0,0,False,False,False,False,True,False
4459,0,1,0,1,0,98.90,0,1,0,0,...,1,0,0,0,False,False,False,False,True,False
635,1,0,0,1,0,98.54,0,0,0,1,...,1,0,0,0,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,0,0,0,0,94.37,0,0,0,1,...,0,0,0,0,False,False,False,False,True,False
4811,0,0,0,1,0,69.77,0,0,0,0,...,0,1,0,0,False,False,True,False,False,False
524,0,0,0,1,1,70.92,0,1,0,0,...,0,0,0,0,False,False,False,False,False,True
4464,0,0,0,0,0,70.56,0,1,0,0,...,1,0,0,0,False,False,False,True,False,False
3452,0,0,0,1,1,56.75,0,0,0,0,...,1,0,0,0,False,False,True,False,False,False

In [334]:
heart_stroke['bmi_underweight'] = heart_stroke['bmi_underweight'].astype(int)
heart_stroke['bmi_normal'] = heart_stroke['bmi_normal'].astype(int)
heart_stroke['bmi_overweight'] = heart_stroke['bmi_overweight'].astype(int)
heart_stroke['bmi_obesity_I'] = heart_stroke['bmi_obesity_I'].astype(int)
heart_stroke['bmi_obesity_II'] = heart_stroke['bmi_obesity_II'].astype(int)
heart_stroke['bmi_obesity_III'] = heart_stroke['bmi_obesity_III'].astype(int)

In [335]:
heart_stroke

,gender,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,...,age_group_40-59,age_group_60-79,age_group_80-99,age_group_100+,bmi_underweight,bmi_normal,bmi_overweight,bmi_obesity_I,bmi_obesity_II,bmi_obesity_III
3617,1,0,0,1,0,113.84,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
2156,0,0,0,1,1,59.20,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4665,0,0,0,1,1,222.58,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4459,0,1,0,1,0,98.90,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
635,1,0,0,1,0,98.54,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,0,0,0,0,94.37,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4811,0,0,0,1,0,69.77,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
524,0,0,0,1,1,70.92,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4464,0,0,0,0,0,70.56,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
3452,0,0,0,1,1,56.75,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

Проведем бинаризацию признака

In [336]:


bins = [0, 140, 200, float('inf')]
labels = ['glucose_normal', 'glucose_pre_diabetes', 'glucose_diabetes']


glucose_categories = pd.cut(heart_stroke['avg_glucose_level'], bins=bins, labels=labels, right=False)


glucose_dummies = pd.get_dummies(glucose_categories)


heart_stroke = pd.concat([heart_stroke, glucose_dummies], axis=1)


heart_stroke.drop('avg_glucose_level', axis=1, inplace=True)

In [337]:
heart_stroke

,gender,hypertension,heart_disease,ever_married,Residence_type,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,...,age_group_100+,bmi_underweight,bmi_normal,bmi_overweight,bmi_obesity_I,bmi_obesity_II,bmi_obesity_III,glucose_normal,glucose_pre_diabetes,glucose_diabetes
3617,1,0,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,True,False,False
2156,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,1,True,False,False
4665,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,False,False,True
4459,0,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,True,False,False
635,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,1,0,0,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,True,False,False
4811,0,0,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,True,False,False
524,0,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,1,True,False,False
4464,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,True,False,False
3452,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,True,False,False

In [338]:
heart_stroke['glucose_normal'] = heart_stroke['glucose_normal'].astype(int)
heart_stroke['glucose_pre_diabetes'] = heart_stroke['glucose_pre_diabetes'].astype(int)
heart_stroke['glucose_diabetes'] = heart_stroke['glucose_diabetes'].astype(int)

In [339]:
heart_stroke

,gender,hypertension,heart_disease,ever_married,Residence_type,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,...,age_group_100+,bmi_underweight,bmi_normal,bmi_overweight,bmi_obesity_I,bmi_obesity_II,bmi_obesity_III,glucose_normal,glucose_pre_diabetes,glucose_diabetes
3617,1,0,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
2156,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,1,1,0,0
4665,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
4459,0,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
635,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
4811,0,0,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
524,0,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
4464,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3452,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0

# Преобразуем датасет breast_cancer

Выберем случайные 500 строк из датасета и будем работать только с ними

In [340]:
breast_cancer = breast_cancer.sample(n=500, random_state=1)

1) Бинаризуем признак mean_radius

In [341]:
breast_cancer

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
421,14.69,13.98,98.22,656.1,0.10310,1
47,13.17,18.66,85.98,534.6,0.11580,0
292,12.95,16.02,83.14,513.7,0.10050,1
186,18.31,18.58,118.60,1041.0,0.08588,0
414,15.13,29.81,96.71,719.5,0.08320,0
...,...,...,...,...,...,...
302,20.09,23.86,134.70,1247.0,0.10800,0
190,14.22,23.12,94.37,609.9,0.10750,0
74,12.31,16.52,79.19,470.9,0.09172,1
348,11.47,16.03,73.02,402.7,0.09076,1
243,13.75,23.77,88.54,590.0,0.08043,1

In [342]:
breast_cancer_ishodnik = breast_cancer.copy()

In [343]:
breast_cancer

,mean_radius,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis
421,14.69,13.98,98.22,656.1,0.10310,1
47,13.17,18.66,85.98,534.6,0.11580,0
292,12.95,16.02,83.14,513.7,0.10050,1
186,18.31,18.58,118.60,1041.0,0.08588,0
414,15.13,29.81,96.71,719.5,0.08320,0
...,...,...,...,...,...,...
302,20.09,23.86,134.70,1247.0,0.10800,0
190,14.22,23.12,94.37,609.9,0.10750,0
74,12.31,16.52,79.19,470.9,0.09172,1
348,11.47,16.03,73.02,402.7,0.09076,1
243,13.75,23.77,88.54,590.0,0.08043,1

In [344]:
import numpy as np

min_radius = breast_cancer['mean_radius'].min()
max_radius = breast_cancer['mean_radius'].max()

# Создаем диапазоны с шагом 3
bins = np.arange(min_radius, max_radius + 3, 3) # +3 для включения последнего интервала


for i in range(len(bins)-1):
    breast_cancer[f'mean_radius_{bins[i]}_{bins[i+1]}'] = breast_cancer['mean_radius'].apply(lambda x: 1 if bins[i] <= x < bins[i+1] else 0)

In [345]:
breast_cancer.drop('mean_radius', axis=1, inplace=True)

In [346]:
breast_cancer

,mean_texture,mean_perimeter,mean_area,mean_smoothness,diagnosis,mean_radius_6.981_9.981,mean_radius_9.981_12.981,mean_radius_12.981_15.981,mean_radius_15.981_18.981,mean_radius_18.981_21.981,mean_radius_21.981_24.981,mean_radius_24.981_27.981,mean_radius_27.981_30.981
421,13.98,98.22,656.1,0.10310,1,0,0,1,0,0,0,0,0
47,18.66,85.98,534.6,0.11580,0,0,0,1,0,0,0,0,0
292,16.02,83.14,513.7,0.10050,1,0,1,0,0,0,0,0,0
186,18.58,118.60,1041.0,0.08588,0,0,0,0,1,0,0,0,0
414,29.81,96.71,719.5,0.08320,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,23.86,134.70,1247.0,0.10800,0,0,0,0,0,1,0,0,0
190,23.12,94.37,609.9,0.10750,0,0,0,1,0,0,0,0,0
74,16.52,79.19,470.9,0.09172,1,0,1,0,0,0,0,0,0
348,16.03,73.02,402.7,0.09076,1,0,1,0,0,0,0,0,0
243,23.77,88.54,590.0,0.08043,1,0,0,1,0,0,0,0,0

2) Бинаризуем признак mean_texture

In [347]:

min_texture = breast_cancer['mean_texture'].min()
max_texture = breast_cancer['mean_texture'].max()


bins = np.arange(min_texture, max_texture + 5, 5) # +5 для включения последнего интервала


for i in range(len(bins)-1):
    breast_cancer[f'mean_texture_{bins[i]}_{bins[i+1]}'] = breast_cancer['mean_texture'].apply(lambda x: 1 if bins[i] <= x < bins[i+1] else 0)

In [348]:
breast_cancer.drop('mean_texture', axis=1, inplace=True)

In [349]:
breast_cancer

,mean_perimeter,mean_area,mean_smoothness,diagnosis,mean_radius_6.981_9.981,mean_radius_9.981_12.981,mean_radius_12.981_15.981,mean_radius_15.981_18.981,mean_radius_18.981_21.981,mean_radius_21.981_24.981,mean_radius_24.981_27.981,mean_radius_27.981_30.981,mean_texture_10.38_15.38,mean_texture_15.38_20.380000000000003,mean_texture_20.380000000000003_25.380000000000003,mean_texture_25.380000000000003_30.380000000000003,mean_texture_30.380000000000003_35.38
421,98.22,656.1,0.10310,1,0,0,1,0,0,0,0,0,1,0,0,0,0
47,85.98,534.6,0.11580,0,0,0,1,0,0,0,0,0,0,1,0,0,0
292,83.14,513.7,0.10050,1,0,1,0,0,0,0,0,0,0,1,0,0,0
186,118.60,1041.0,0.08588,0,0,0,0,1,0,0,0,0,0,1,0,0,0
414,96.71,719.5,0.08320,0,0,0,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,134.70,1247.0,0.10800,0,0,0,0,0,1,0,0,0,0,0,1,0,0
190,94.37,609.9,0.10750,0,0,0,1,0,0,0,0,0,0,0,1,0,0
74,79.19,470.9,0.09172,1,0,1,0,0,0,0,0,0,0,1,0,0,0
348,73.02,402.7,0.09076,1,0,1,0,0,0,0,0,0,0,1,0,0,0
243,88.54,590.0,0.08043,1,0,0,1,0,0,0,0,0,0,0,1,0,0

3) Бинаризуем признак mean_perimeter

In [350]:
min_perimeter = breast_cancer['mean_perimeter'].min()
max_perimeter = breast_cancer['mean_perimeter'].max()


bins = np.arange(min_perimeter, max_perimeter + 20, 20) # +20 для включения последнего интервала


for i in range(len(bins)-1):
    breast_cancer[f'mean_perimeter_{bins[i]}_{bins[i+1]}'] = breast_cancer['mean_perimeter'].apply(lambda x: 1 if bins[i] <= x < bins[i+1] else 0)

In [351]:
breast_cancer.drop('mean_perimeter', axis=1, inplace=True)

In [352]:
breast_cancer

,mean_area,mean_smoothness,diagnosis,mean_radius_6.981_9.981,mean_radius_9.981_12.981,mean_radius_12.981_15.981,mean_radius_15.981_18.981,mean_radius_18.981_21.981,mean_radius_21.981_24.981,mean_radius_24.981_27.981,...,mean_texture_25.380000000000003_30.380000000000003,mean_texture_30.380000000000003_35.38,mean_perimeter_43.79_63.79,mean_perimeter_63.79_83.78999999999999,mean_perimeter_83.78999999999999_103.78999999999999,mean_perimeter_103.78999999999999_123.78999999999999,mean_perimeter_123.78999999999999_143.79,mean_perimeter_143.79_163.79,mean_perimeter_163.79_183.79,mean_perimeter_183.79_203.79
421,656.1,0.10310,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
47,534.6,0.11580,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
292,513.7,0.10050,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
186,1041.0,0.08588,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
414,719.5,0.08320,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,1247.0,0.10800,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
190,609.9,0.10750,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
74,470.9,0.09172,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
348,402.7,0.09076,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
243,590.0,0.08043,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

4) Бинаризуем признак mean_area

In [353]:

min_area = breast_cancer['mean_area'].min()
max_area = breast_cancer['mean_area'].max()


bins = np.arange(min_area, max_area + 200, 200) # +200 для включения последнего интервала


for i in range(len(bins)-1):
    breast_cancer[f'mean_area_{bins[i]}_{bins[i+1]}'] = breast_cancer['mean_area'].apply(lambda x: 1 if bins[i] <= x < bins[i+1] else 0)

In [354]:
breast_cancer.drop('mean_area', axis=1, inplace=True)

In [355]:
breast_cancer

,mean_smoothness,diagnosis,mean_radius_6.981_9.981,mean_radius_9.981_12.981,mean_radius_12.981_15.981,mean_radius_15.981_18.981,mean_radius_18.981_21.981,mean_radius_21.981_24.981,mean_radius_24.981_27.981,mean_radius_27.981_30.981,...,mean_area_543.5_743.5,mean_area_743.5_943.5,mean_area_943.5_1143.5,mean_area_1143.5_1343.5,mean_area_1343.5_1543.5,mean_area_1543.5_1743.5,mean_area_1743.5_1943.5,mean_area_1943.5_2143.5,mean_area_2143.5_2343.5,mean_area_2343.5_2543.5
421,0.10310,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
47,0.11580,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
292,0.10050,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
186,0.08588,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
414,0.08320,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,0.10800,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
190,0.10750,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
74,0.09172,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
348,0.09076,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
243,0.08043,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

5) Бинаризуем признак mean_smoothness

In [356]:

min_smoothness = breast_cancer['mean_smoothness'].min()
max_smoothness = breast_cancer['mean_smoothness'].max()


bins = np.arange(min_smoothness, max_smoothness + 0.02, 0.02) # +0.02 для включения последнего интервала


for i in range(len(bins)-1):
    breast_cancer[f'mean_smoothness_{bins[i]:.2f}_{bins[i+1]:.2f}'] = breast_cancer['mean_smoothness'].apply(lambda x: 1 if bins[i] <= x < bins[i+1] else 0)

In [357]:
breast_cancer.drop('mean_smoothness', axis=1, inplace=True)

In [358]:
breast_cancer

,diagnosis,mean_radius_6.981_9.981,mean_radius_9.981_12.981,mean_radius_12.981_15.981,mean_radius_15.981_18.981,mean_radius_18.981_21.981,mean_radius_21.981_24.981,mean_radius_24.981_27.981,mean_radius_27.981_30.981,mean_texture_10.38_15.38,...,mean_area_1743.5_1943.5,mean_area_1943.5_2143.5,mean_area_2143.5_2343.5,mean_area_2343.5_2543.5,mean_smoothness_0.05_0.07,mean_smoothness_0.07_0.09,mean_smoothness_0.09_0.11,mean_smoothness_0.11_0.13,mean_smoothness_0.13_0.15,mean_smoothness_0.15_0.17
421,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
47,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
292,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
186,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
414,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
190,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
74,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
348,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
243,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

# Преобразуем датасет heart_failure

In [359]:
heart_failure = pd.read_csv('heart_failure_clinical_records_dataset.csv')

In [360]:
heart_failure_ishodnik = heart_failure.copy()

In [361]:
heart_failure

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [362]:

# Определение порогов и меток для бинаризации
bins_age = [0, 20, 40, 60, 80, float('inf')]
labels_age = ['<20', '20-39', '40-59', '60-79', '>=80']

bins_cpk = [0, 120, 250, float('inf')]
labels_cpk = ['Low_CPK', 'Medium_CPK', 'High_CPK']

bins_ef = [0, 40, 55, float('inf')]
labels_ef = ['Low_EF', 'Medium_EF', 'High_EF']

bins_platelets = [0, 150000, 450000, float('inf')]
labels_platelets = ['Low_Platelets', 'Normal_Platelets', 'High_Platelets']

bins_creatinine = [0, 0.7, 1.2, float('inf')]
labels_creatinine = ['Low_Creatinine', 'Normal_Creatinine', 'High_Creatinine']

bins_sodium = [0, 135, 145, float('inf')]
labels_sodium = ['Low_Sodium', 'Normal_Sodium', 'High_Sodium']

# Бинаризация времени (time) с использованием перцентилей
time_33 = heart_failure['time'].quantile(0.33)
time_66 = heart_failure['time'].quantile(0.66)

# Определение функции для бинаризации времени
def binarize_time(time):
    if time < time_33:
        return 'Short'
    elif time < time_66:
        return 'Medium'
    else:
        return 'Long'

# Бинаризация числовых переменных
heart_failure['age_group'] = pd.cut(heart_failure['age'], bins=bins_age, labels=labels_age, right=False)
heart_failure['creatinine_phosphokinase_group'] = pd.cut(heart_failure['creatinine_phosphokinase'], bins=bins_cpk, labels=labels_cpk, right=False)
heart_failure['ejection_fraction_group'] = pd.cut(heart_failure['ejection_fraction'], bins=bins_ef, labels=labels_ef, right=False)
heart_failure['platelets_group'] = pd.cut(heart_failure['platelets'], bins=bins_platelets, labels=labels_platelets, right=False)
heart_failure['serum_creatinine_group'] = pd.cut(heart_failure['serum_creatinine'], bins=bins_creatinine, labels=labels_creatinine, right=False)
heart_failure['serum_sodium_group'] = pd.cut(heart_failure['serum_sodium'], bins=bins_sodium, labels=labels_sodium, right=False)
heart_failure['time_group'] = heart_failure['time'].apply(binarize_time)

# Удаление исходных количественных столбцов
heart_failure = heart_failure.drop(['age', 'creatinine_phosphokinase', 'ejection_fraction', 'platelets', 'serum_creatinine', 'serum_sodium', 'time'], axis=1)

# Применение one-hot encoding и преобразование булевых значений в 0 и 1
heart_failure_encoded = pd.get_dummies(heart_failure).astype(int)

heart_failure = heart_failure_encoded

In [374]:
heart_stroke

,gender,hypertension,heart_disease,ever_married,Residence_type,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,...,age_group_100+,bmi_underweight,bmi_normal,bmi_overweight,bmi_obesity_I,bmi_obesity_II,bmi_obesity_III,glucose_normal,glucose_pre_diabetes,glucose_diabetes
3617,1,0,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
2156,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,1,1,0,0
4665,0,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
4459,0,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
635,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4354,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
4811,0,0,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
524,0,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,0
4464,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3452,0,0,0,1,1,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0

In [376]:
heart_stroke_ishodnik.to_csv('/Users/deal/Desktop/heart_stroke_ishodnik.csv', index=False)

# Датасеты подготовлены. Выполним классификацию используя стандартные инструменты машинного обучения (в другом notebook)

# DecisionTree

In [377]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score